<div class="muro-container">

  <header class="navbar">
    <h1>Mis Tareas</h1>
    <div class="icons">
      <span>🔔</span>
      <span (click)="logout()" style="cursor:pointer">👤</span>
    </div>
  </header>

  <div class="content">

    <span class="badge">{{ grupoId }}</span>

    <div *ngIf="tareas.length === 0" class="empty-state">
      <h3>No hay tareas aún 📭</h3>
      <p>Tu maestro aún no ha publicado tareas.</p>
    </div>

    <div class="feed">

      <div *ngFor="let tarea of tareas" class="task-card">

        <h3>{{ tarea.titulo }}</h3>

        <p>{{ tarea.descripcion }}</p>

        <div class="task-footer">
          <span>📅 {{ tarea.fechaEntrega | date }}</span>
        </div>

      </div>

    </div>

  </div>

</div>
