<div class="form-container">
  <div class="form-card">

    <h2 class="form-title">
      {{ tarea ? 'Editar Tarea' : 'Nueva Tarea' }}
    </h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label>Título</label>
        <input type="text" formControlName="titulo" />
      </div>

      <div class="form-group">
        <label>Descripción</label>
        <textarea formControlName="descripcion"></textarea>
      </div>

      <div class="form-group">
        <label>Fecha de entrega</label>
        <input type="date" formControlName="fechaEntrega" />
      </div>

      <div class="form-group">
        <label>Grupo</label>
        <input type="text" formControlName="grupoId" placeholder="Ej: 3A" />
      </div>

      <button type="submit" [disabled]="form.invalid">
        {{ tarea ? 'Actualizar Tarea' : 'Crear Tarea' }}
      </button>

    </form>
  </div>
</div>
