<div class="auth-container">
  <div class="auth-card">
    <div class="header-section">
      <span class="birrete-icon">🎓</span>
      <h2>Bienvenido/a</h2>
      <p>Inicia sesión para continuar</p>
    </div>

    <form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="input-group">
        <label for="email">Correo Electrónico</label>
        <div class="input-wrapper">
          <input type="email" id="email" formControlName="email" placeholder="tucorreo@escuela.com">
        </div>
      </div>

      <div class="input-group">
        <label for="password">Contraseña</label>
        <div class="input-wrapper">
          <input [type]="hidePassword ? 'password' : 'text'"
                 id="password"
                 formControlName="password"
                 placeholder="********">


        </div>
      </div>

      <a href="#" class="link-action">¿Olvidaste tu contraseña?</a>

      <button type="submit" class="submit-btn" [disabled]="loginForm.invalid || isLoading">
        {{ isLoading ? 'Cargando...' : 'Iniciar Sesión' }}
      </button>
    </form>

    <p class="footer-text">
      ¿No tienes una cuenta? <a href="/register" class="link-action">Regístrate</a>
    </p>
  </div>
</div>
